<h1>Demo#index</h1>
<p>hello this is index page</p>

<!--#html link-->
<a href="/demo/hello">html link to demo#hello</a><br>

<!--#rails link-->
<%= link_to('rails link to hello page', {:action => 'hello'}) %><br />

<%= link_to('rails link to hello page', {:action => 'hello', :id =>5, :page => 25}) %>